{% extends "base.html" %}

{% block title %}Experience{% endblock %}

{% block content %}

<section class="experience">
    <div class="text-center mb-4">
        <h2 class="fw-bold text-5xl underline decoration-sky-500">Professional Experience</h2>
    </div>

    <div  class="flex flex-row flex-wrap gap-4 p-2 justify-center rounded-lg  ">
        <div class="basis-64">
            <!-- exp1 -->
            <div
                class=" max-w-sm p-6 bg-white border border-gray-700 rounded-lg shadow-sm ">
                <a href="#">
                    <img class="rounded-t-lg"
                        src="https://images.squarespace-cdn.com/content/v1/57a6a44d2994ca6cbb9460b6/1484561272097-T5L8VKX6LXBZ8G4TDFHS/col2.jpg?format=1000w"
                        alt="" />
                </a>

                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2  text-2xl font-bold tracking-tight text-gray-900 ">Adjunct Professor
                        at
                        Saveetha Dental College And Hospitals, Chennai</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Duration: July 2023 – Present</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <ul class="text-gray-500">
                        <li>Teaching and mentoring students in Mechanical Engineering.</li>
                        <li>Conducting research in advanced manufacturing and material sciences.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <!-- exp2 -->
        <div class="basis-64">
            <div
                class="max-w-sm p-6 bg-white border border-gray-700 rounded-lg shadow-sm ">
                <a href="#">
                    <img class="rounded-t-lg" src="https://www.aec.edu.in/Campus_Buildings/Cotton%20bhavan.png"
                        alt="" />
                </a>

                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Adjunct Professor
                        at
                        Aditya University, Surampalem</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Duration: July 2022 – Present</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <ul class="text-gray-500">
                        <li>Teaching and mentoring students in Mechanical Engineering.</li>
                        <li>Conducting research in advanced manufacturing and material sciences.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <!-- exp3 -->
        <div class="basis-64">
            <div
                class="max-w-sm p-6 bg-white border border-gray-700 rounded-lg shadow-sm ">
                <a href="#">
                    <img class="rounded-t-lg" src="https://spiher.ac.in/wp-content/uploads/2024/01/SPIHER.jpg" alt="" />
                </a>

                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Assistant Professor
                        at
                        St. Peter’s College of Engineering and Technology, Chennai</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Duration: June 2017 – May 2022</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <ul class="text-gray-500">
                        <li>Focused on teaching core mechanical engineering subjects.</li>
                        <li>Guided student research and projects in the field of engineering.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <!-- exp4 -->
        <div class="basis-64">
            <div
                class="max-w-sm p-6 bg-white border border-gray-700 rounded-lg shadow-sm ">
                <a href="#">
                    <img class="rounded-t-lg" src="https://www.saec.ac.in/img/saecwall3.jpg" alt="" />
                </a>

                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">AAssistant
                        Professor at
                        S.A. Engineering College, Chennai</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Duration: June 2015 – 2017</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <ul class="text-gray-500">
                        <li>Conducted lectures and laboratory sessions for mechanical engineering courses.</li>
                        <li>Played a key role in curriculum development and academic planning.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <!-- exp5 -->
        <div class="basis-64">
            <div
                class="max-w-sm p-6 bg-white border border-gray-700 rounded-lg shadow-sm ">
                <a href="#">
                    <img class="rounded-t-lg" src="https://dynamatics.com/images/bell-00.jpg" alt="" />
                </a>

                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Graduate Engineer
                        Trainee at Dynamatic Technologies Ltd</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Duration: June 2011 – June 2013</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    <ul class="text-gray-500">
                        <li>Gained hands-on experience in the manufacturing sector.</li>
                        <li>Contributed to the implementation of applied engineering practices in production.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}